#brands {
    margin-top: 6rem;
    display: block;

    .brand-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.brand-box {
    border: 1px solid #e2E5F1;
    border-radius: 8px;
    height: 100px;
    width: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
}
