@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --color-primary: #6366F1 ;
  --color-dark: #0B0F19;
  --color-white: #fff;
  --color-gray: #565973;
  --color-first-page: #F3F6FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  /*tar bort highlights när man markerar med telefon/padda*/
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #F3F6FF;
  width: 1296px;
  margin-right: auto;
  margin-left: auto;
}

body.dark-mode {
  background-color: #181818;
  color: #ffffff;
} 

a {
  color: var(--color-primary);
  text-decoration: none;
}

h1 {
  font-size: 24px;
  color: #222;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}
.btn-primary:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
  text-decoration: none;
}

.subtitle {
  color: #555;
  font-size: 14px;
  margin-top: 2rem;
  margin-bottom: 20px;
  text-align: left;
}